{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}

<h1>Administração</h1>

<ul>
	<li><a href="/souphpsp/admin/project">Adm. Projetos</a></li>
	<li><a href="/souphpsp/admin/sponsor">Adm. Patrocinadores</a></li>
	<li><a href="/souphpsp/admin/prize">Adm. Prêmios</a></li>
	<li><a href="/souphpsp/admin/contribution">Adm. Contribuições</a></li>
	<li><a href="/souphpsp/admin/challenge">Adm. Desafios</a></li>
	<li><a href="/souphpsp/admin/stats">Estatísticas</a></li>
</ul>

{% endblock %}