{% extends 'WebBundle::layout.html.twig' %}

{% block content %}

<div class="s3">&nbsp;</div>
<div id="promo-souphpsp" class="s6">
	<h3>Promoção</h3>
	<h2>Sou PHPSP e contribuo!</h2>
	<p>O PHPSP quer promover seu trabalho e ajudar projetos opensource. Queremos ajudar todo desenvolvedor a dar seu primeiro passo em contribuir com projetos Open Source, e para isso lançamos esta promoção.</p>
	
	<ul>
		<li><a href="/souphpsp/about">Saiba mais sobre a promoção</a></li>
		<li><a href="/souphpsp/contribution/new">Cadastrar contribuição</a></li>
		<li><a href="/souphpsp/contribution/">Verificar status de minhas contribuições</a></li>
		<li><a href="/souphpsp/about/projects">Projetos participantes</a></li>
		<li><a href="/souphpsp/about/sponsors">Patrocinadores e prêmios</a></li>
	</ul>
</div>
<div class="s3">&nbsp;</div>

{% endblock %}
