{% extends 'WebBundle::layout.html.twig' %}

{% block content %}

<div class="s6 gutter regular_p">
	<div class="home_about">
		<h1 id="o_que_é_o_phpsp?">O que é o PHPSP?</h1>
		<p>A união faz a força, todos nós já sabemos disso. O PHPSP se baseia nisso para promover o crescimento da comunidade e do mercado de PHP no estado de São Paulo. Somos um grupo de desenvolvedores PHP que procuramos aumentar a interação entre desenvolvedores, promovendo a troca de conhecimento e formando novas redes de contato.</p>
		<p>O objetivo é simples, promover o crescimento dos profissionais, pessoalmente e profissionalmente, levando a uma melhoria no mercado de PHP e beneficiando todos desenvolvedores da linguagem, além de promover o uso do PHP em todos segmentos do mercado web.</p>
		<h2>Como fazemos isso?</h2>
		<p>Nós procuramos promover eventos diversificados, desde palestras até hackathons e testfests, além de apoiar iniciativas de todos membros da comunidade, como Revistas, conferencias e podcasts.</p>
		<p>Além disso, procuramos promover promoções que atraiam a atenção para diversos segmentos do trabalho com a web, desde tecnologias relacionadas ao PHP, o Open Source em geral e os acontecimentos do mercado.</p>
	</div>
</div>
<div class="s6">
	<div id="promo-souphpsp">
		<h3>Promoção</h3>
		<h2>Sou PHPSP e contribuo!</h2>
		<p>O PHPSP quer promover seu trabalho e ajudar projetos opensource. Queremos ajudar todo desenvolvedor a dar seu primeiro passo em contribuir com projetos Open Source, e para isso lançamos esta promoção.</p>

		<ul>
			<li><a href="/souphpsp">Veja o ranking e os prêmios</a></li>
			<li><a href="/souphpsp/about">Regulamento da promoção</a></li>
			<li><a href="/souphpsp/contribution/new">Cadastrar contribuição</a></li>
			<li><a href="/souphpsp/contribution/">Verificar status de minhas contribuições</a></li>
			<li><a href="/souphpsp/about/projects">Projetos participantes</a></li>
			<li><a href="/souphpsp/about/sponsors">Patrocinadores</a></li>
		</ul>
	</div>
</div>

{% endblock %}
