{% extends 'WebBundle::layout.html.twig' %}

{% block content %}

<p>Escolha:</p>
<ul>
	<li><p>Sou PHPSP e contribuo!</p>
		<ul>
			<li><a href="/souphpsp/contribution/add">Cadastrar contribuição</a></li>
			<li><a href="/souphpsp/contribution/list">Verificar status de minhas contribuições</a></li>
		</ul>
	</li>
</ul>

{% endblock %}
