{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<h1>Prize creation</h1>

<form action="{{ path('souphpsp_admin_prize_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
	<div class="actions">
		<button type="submit" class="btn primary">Criar</button>
		<button type="reset" class="btn">Cancelar</button>
	</div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('souphpsp_admin_prize') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}