{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block javascripts %}
	{{parent()}}
	<script src="/bundles/souphpsp/js/jquery.countdown.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/bundles/souphpsp/js/jquery.countdown-pt-BR.js" type="text/javascript" charset="utf-8"></script>
	
	<script>
	{% for challenge in active %}
	$('#counter{{challenge.id}}').countdown({until: new Date('{{ challenge.endDate|date("c") }}'), layout: '{d<}{dn} {dl}, {d>}{h<}{hn}h, {h>}{mn}m e {sn}s'});
	{% endfor %}
	</script>
{% endblock %}

{% block souphpsp_content %}
<h1>Desafios</h1>

<div class="row">
	<div class="span16">
		<div>
			<h2>Desafios Atuais</h2>
			<ul class="challenge-list">
				{% for challenge in active %}
				<li>
					{% include 'SouphpspBundle:Challenge:_challenge.html.twig' %}
				</li>
				{% else %}
				<li class="empty">nenhum desafio ativo.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="span16">
		<div>
			<h2>Desafios Recentes</h2>
			<ul class="challenge-list recent">
				{% for challenge in recent %}
				<li>
					{% include 'SouphpspBundle:Challenge:_challenge.html.twig' %}
				</li>
				{% else %}
				<li class="empty">nenhum desafio recente.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}