<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}Welcome!{% endblock %}</title>

		<link rel="stylesheet" href="/css/bootstrap-1.1.1.css" type="text/css">
		{% block stylesheet %}{% endblock %}
		
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
		
		
		{% if app_env != "dev" %}
		<!-- Google Analytics -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-7974451-2']);
		  _gaq.push(['_setDomainName', 'phpsp.org.br']);
		  _gaq.push(['_setAllowHash', false]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		{% else %}
		<!-- Google Analytics code not printed in env: {{app_env}} -->
		{% endif %}
	</body>
</html>
