{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<h1 id="gerenciamento_de_contribuições">Gerenciamento de Contribuições</h1>

<div class="row">
	<div class="span8" >
		Mostrando: <span class="admin_contrib_show_{{status}}">Contribuições 
		{% if status == constant('PHPSP\\Bundles\\SouphpspBundle\\Entity\\Contribution::APPROVED')  %}
		Aprovadas
		{% elseif status == constant('PHPSP\\Bundles\\SouphpspBundle\\Entity\\Contribution::DENIED') %}
		Rejeitadas
		{% elseif status == constant('PHPSP\\Bundles\\SouphpspBundle\\Entity\\Contribution::PENDING') %}
		Pendentes
		{% endif %}</span>
	</div>
	
	<div class="span8 admin_contrib_links">
		<a href="{{ path('souphpsp_admin_contribution', { 'filterStatus': constant('PHPSP\\Bundles\\SouphpspBundle\\Entity\\Contribution::APPROVED') }) }}">aprovadas</a>
		| <a href="{{ path('souphpsp_admin_contribution', { 'filterStatus': constant('PHPSP\\Bundles\\SouphpspBundle\\Entity\\Contribution::DENIED') }) }}">reprovadas</a>
		| <a href="{{ path('souphpsp_admin_contribution', { 'filterStatus': constant('PHPSP\\Bundles\\SouphpspBundle\\Entity\\Contribution::PENDING') }) }}">pendentes</a>
	</div>
</div>


<ul class="contribution_list">
	{% for contrib in contribs %}
	<li class="">
		{% include "SouphpspBundle:_shared:contribution.html.twig" with {'admin': true} %}
	</li>
	{% endfor %}
</ul>
{% endblock%}