[parameters]

; Database
database_driver   = "pdo_mysql"
database_host     = "localhost"
database_port     = ""
database_name     = "dbname"
database_user     = ""
database_password = ""

; Mailer
mailer_transport  = "smtp"
mailer_host       = "localhost"
mailer_user       = ""
mailer_password   = ""

; Locale
locale            = "en"

;Application
secret            = "4aba5ba9e6c6e5468e16d9c97668b9d440cd5a64"
site_url          = "http://souphpsp.local"
