{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
	<h1 id="promoção_"sou_phpsp_e_contribuo!"">Promoção "Sou PHPSP e contribuo!" - Regulamento</h1>
	<div class="row justified">
		<div class="span16">
			<p>O maior objetivo do PHPSP é contribuir com o PHP e sua comunidade, promovendo eventos e ações, mas também inspirando novas pessoas a contribuir com este ecosistema. É aqui que entra o concurso "Sou PHPSP e contribuo", queremos ver nossos membros cada vez mais ativos.</p>


			<p>Em 2009 nossos membros chutaram traseiro e fomos o grupo com o maior número de testes no PHP TestFest, muitos de nossos membros ganharam elephpantes e canecas, foi realmente incrivel ver toda a ação do grupo em torno disso. Então queremos ver isso acontecer denovo, e por isso lançamos o desafio para premiar quem é ativo e contribui para nosso ecosistema.</p>

			<p><em>Esta promoção é um Concurso Cultural, a participação é validada mediante perguntas no cadastro de contribuições.</em></p>
		</div>
	</div>
	<div class="row justified">
		<div class="span8">
			<h2>Como posso participar?</h2>

			<p>Participar é simples, basta contribuir! Como? Enviando um patch para um projeto Open Source, corrigindo um bug, traduzindo ou contribuindo para a documentação, criando novos testes, criando uma nova feature, enfim, qualquer contribuição é válida. Veja <a href="/souphpsp/about/projects">uma lista de projetos</a> que apoiam o concurso e estão prontos para receber contribuidores.
			</p>

			<p>A cada "ação" realizada você ganhará um ticket que será usado para a premiação.</p>

			<h2>Como ganhar tickets?</h2>

			<p>Assim que completar uma participação válida (patch aceito, commit merged...) você poderá acessar nosso sistema de cadastro, descrever o que fez e fornecer um link para validação, pode ser o link do commit, do email na lista aceitando o patch, enfim, qualquer coisa que comprove que sua contribuição foi feita e aceita. Com estes dados em mãos faremos a validação e le mandaremos um ticket virtual.</p>

			<h2>Quais contribuições serão aceitas?</h2>

			<p>Toda contribuição realizada durante o período de <strong>01/Setembro/2011</strong> até <strong>31/Março/2012</strong></p>
		</div>

		<div class="span8">
			<h2>Como serão escolhidos os vencedores?</h2>
			<p>Ao término do prazo de contribuição, cada ticket será uma chance de ganhar, iremos sortear todos os prêmios entre estes tickets.</p>

			<h2>Quais são os prêmios?</h2>
			<ul class="prize-list">
				{% for prize in prizes%}
				<li><strong>{{"%1$02d"|format(prize.quantity)}}</strong> {{prize.name}} ({{prize.sponsor.name}})</li>
				{% endfor %}
				<li>mais prêmios serão anunciados durante o concurso...</li>
			</ul>
			<p>O PHPSP garante a entrega dos prêmios de residentes de São Paulo/SP, participantes de fora desta área receberão os prêmios por sedex a cobrar, arcando com os custos de envio.</p>

			<h2>Quem pode participar?</h2>
			<p>Membros da comunidade PHP de todo Brasil podem participar. Ficam exclusos dos sorteios lideres ou afiliados de projetos parceiros e coordenadores do PHPSP. Queremos atrair novos contribuidores para os projetos.</p>
		</div>
	</div>
{% endblock %}