{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<div class="regular_p">	

	<h1>Quer ser um patrocinador?</h1>

	<p>Esta promoção do PHPSP será de longa duração, sempre temos espaço para novos apoiadores e patrocinadores, se sua empresa quer mostrar que apoia o Open Source, agora é sua chance!</p>
	<p>Envie um email para <strong>souphpsp@phpsp.org.br</strong> para obter mais informações de como você pode participar desta grande promoção na comunidade PHP brasileira</p>
</div>
{% endblock %}
