{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<div class="regular_p">	

	<h1>Quer ser um patrocinador?</h1>

	<p>Esta promoção do PHPSP será de longa duração, sempre temos espaço para novos apoiadores e patrocinadores, se sua empresa quer mostrar que apoia o Open Source, agora é sua chance!</p>
	<p>Envie um email para <strong>souphpsp@phpsp.org.br</strong> para obter mais informações de como você pode participar desta grande promoção na comunidade PHP brasileira</p>
	
	<h2>English</h2>
	
	<p>This PHPSP action is all about contributing to Open Source, we want more and more people to contribute to these projects, and we are willing to give out prizes to attract them. We need help to promote this and we need help to get prizes, if you company relies on or supports the use of Open Source projects, then this is a great opportunity to show that support. It will be a long running action, so its not to late to step in as a sponsor.</p>
	<p>Send and email to <strong>souphpsp@phpsp.org.br</strong> to get more info on how you can support the PHP Open Source community.</p>
</div>
{% endblock %}
