{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}
<div class="regular_p">	

	<h1>Quer seu projeto aqui?</h1>

	<p>Esta promoção do PHPSP será de longa duração, sempre temos espaço para novos projetos que queiram atrair mais contribuidores, não é tarde demais para entrar.</p>
	<p>Envie um email para <strong>souphpsp@phpsp.org.br</strong> com informações sobre seu projeto</p>
	
	<h2>English</h2>
	
	<p>This PHPSP action is all about contributing to Open Source, we want more and more people to contribute to these projects, and we are willing to give out prizes to attract them. We will be listing partner projects so people can have all the information of how to contribute at their fingertips, so if your project is not here, its not too late to come into the game.</p>
	<p>Send and email to <strong>souphpsp@phpsp.org.br</strong> with info about your project and we will list you and let people know you are in.</p>
</div>
{% endblock %}
