{% extends '::base.html.twig' %}

{% block title %}Sou PHPSP e Contribuo{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	{% include 'WebBundle::_topbar.html.twig' %}
   <header>
   	
   </header>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<footer>
		
	</footer>
{% endblock %}

{% block javascript %}{% endblock %}
