/*Standard classes*/
.centered { margin: 0 auto; float: none; }
.regular_p p { margin: 1.12em 0; line-height: 1.5em;  }

/* Tag redefenition */
html { background-color: #FFF; }
body { font-family: Verdana; font-size: 12px; color: #2C2C29; }
a { color:#1B75BB; text-decoration:none; }

/* Main bits */

#phpsp-box { background-color: #FFF; padding: 10px; clear: both; background-color: white; }
#phpsp-content { min-height: 450px; }

header { height: 80px; background: #63B6F7 url('/bundles/web/images/bg2.png') repeat fixed top left;}

footer{ color: #000; font-size: 80%; text-align:center; margin-top: 25px; padding: 5px 0 0 0; clear:both; }
footer .copy { float: left; }
footer .hosted { float:right; vertical-align:top; }
footer .hosted IMG { height: 30px; }

#phpsp-top-bar { padding: 5px 10px 5px 10px; text-align:right; margin: auto 0; height: 20px; background-color:#1269A5; width:100%; color: #FFF; }
#phpsp-top-bar IMG.avatar { height: 15px; width:15px; vertical-align: middle; }

h1 { font-size: 165%; margin: 5px 0 10px 0; font-weight:bold; color:#1B75BB; }
h2 { font-size: 135%; margin: 5px 0 10px 0; font-weight:bold; color:#000; }

/* Home Page */
#promo-souphpsp {
	margin: 5px 0 10px 0;
	-webkit-border-radius: 10px 0px 10px 10px;
	-moz-border-radius: 10px 0px 10px 10px;
	border-radius: 10px 0px 10px 10px;
	border:1px solid #858585;
	background-color:#FFFFFF;
	-webkit-box-shadow: #B3B3B3 2px 2px 2px;
	-moz-box-shadow: #B3B3B3 2px 2px 2px; 
	box-shadow: #B3B3B3 2px 2px 2px;
	padding: 10px;
}

#promo-souphpsp h3 { font-size:90%; color:#1B75BB; float:right; }
#promo-souphpsp h2 { font-size:140%; font-weight: bold; float:right; clear:both; }
#promo-souphpsp p  { clear:both; }
#promo-souphpsp ul { margin: 10px 0 10px 0; }
#promo-souphpsp ul li { padding: 5px;  }
#promo-souphpsp a { color:#1B75BB; text-decoration:none; }
