/* NAV */
nav {}
nav ul { overflow: hidden; display: inline-block; margin: -8px 0 10px 0; }
nav li { position:relative; float: left; list-style: none; border-right: 1px solid #1B75BB; box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset; -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset; -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;}
nav li a { color: #5d5d5d; display: inline-block; padding: 4px 35px 4px; position: relative; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); z-index:2; text-decoration:none !important; white-space:nowrap;}
nav li a:hover { color:#1B75BB; }

nav li:first-child a { padding-left:0px; }
nav li:last-child { border-right: 0px; }

/* Main Page */
.stats_list { list-style: none; margin:0px; }
.stats_list li { line-height: 1.5em;  }
.ranking_list li { line-height: 1.5em;  }
.prize_list { list-style: none; margin:0px; }
.prize_list li .prize {  width:300px; height:80px; 
margin: 10px 0; -webkit-border-radius: 10px 0px 10px 0px; -moz-border-radius: 10px 0px 10px 0px; border-radius: 10px 0px 10px 0px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; }
.prize_list li .prize .quantity { float:right; font-weight:bold; padding:2px; background-color:#FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 3px; padding:3px;  }
.prize_list li .info { font-size: 80%; margin-top: -10px; padding: 3px; }

/* About Page */
.prize-list { list-style-type: circle; }
.sponsor_list { padding: 0px;}
.sponsor_list img{ max-width: 136px; max-height: 40px; margin-right: 20px; }
.sponsor_list div.sponsor{ vertical-align: middle; text-align: center; }
.besponsor { margin-top: 35px;  }

/* Project List */
#souphpsp_projects { margin: 10px 0 10px 0; list-style: none; color: #000; }
#souphpsp_projects li { padding: 10px 0; clear:both; color: #000; }
#souphpsp_projects .title {font-size: 135%; font-weight:bold; border-bottom: 2px solid #1B75BB; padding-bottom: 3px;}
#souphpsp_projects .about { padding: 8px 0; line-height: 1.5em;}
#souphpsp_projects .help { padding: 8px 0; line-height: 1.5em;}
#souphpsp_projects blockquote { float:right; width: 45%; margin: -11px 0px 0 10px; padding: 5px; border: 2px solid #1B75BB;background-color: #EED168; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; -webkit-border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px;}
#souphpsp_projects .info_list { list-style: none; margin:0px; }
#souphpsp_projects .info_list li { padding: 2px; }
#souphpsp_projects .info_list a { text-decoration:underline; color: #000; }

/* Sponsor List */
#souphpsp_sponsors { margin: 10px 0 10px 0; }
#souphpsp_sponsors { vertical-align: middle; }
#souphpsp_sponsors img { margin-right: 30px; max-width: 219px; max-height: 70px;}

/* Contribution  */

.contribution_list { list-style-type: none; margin: 0px;  }
.contribution { color:#000; margin: 5px 0 10px 0; -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; padding: 10px; 
}
.contribution .cmds { font-size: 90%; }
.contribution .operational { float:right; text-align: right; width:50%; }
.contribution .main_info {  }
.contribution .main_info img { float:left; margin: 0 10px 0 0;  }
.contribution .user_info { font-size: 80%; }
.contribution .title { font-size: 110%; font-weight:bold; margin:0;  }
.contribution .title a { font-size:80%; font-weight: normal; }
.contribution .notes { font-size:80%; color:#A4A4A4; padding: 3px; }
.contribution .notes span { font-size: 180%; color: #929292; padding: 0 5px; font-weight: bold; }
.contribution .desc { padding: 5px 0; }
.contribution .status_1 { color:#5F9941;  }
.contribution .status_2 { color:#999126; }

.user_contrib_list { list-style-type: none; margin:0px; }
.user_contrib_list img{ float:left; margin: 0 10px 0 0; }
.user_contrib_list li { margin: 10px 0; -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; padding: 10px; min-height: 48px; }
.user_contrib_list li .status_1 { color:#5F9941;  }
.user_contrib_list li .status_2 { color:#999126; }
.user_contrib_list li .user_info { font-size: 80%; padding-bottom: 5px; }
.user_contrib_list li .title { font-size:110%; font-weight: bold; margin-top: -10px; }
.user_contrib_list li .title a { font-size:80%; font-weight: normal; }
.user_contrib_list li .desc { padding: 5px; }
.user_contrib_list li .reference {  }
.user_contrib_list li .notes { font-size:80%; color:#A4A4A4; padding: 3px; float:right; clear:right; text-align:right; }
.user_contrib_list li .notes span { font-size: 180%; color: #929292; padding: 0 5px; font-weight: bold; }
.user_contrib_list li .cmds { float:right; font-size: 90%; font-weight: bold; }

/* Contribution list */
.contrib-list {list-style: none; margin: 0;}
.contrib-list LI { margin: 5px 0 10px 0; -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; padding: 10px; }

.contrib-list .title { font-size: 110%; font-weight:bold;  }
.contrib-list .title img { padding-left: 5px; vertical-align: text-bottom; }
.contrib-list .description { margin: 4px 0 4px 0;  }
.contrib-list .date { font-size: 80%; float:right; color:#BBB; }
.contrib-list .denial { color:#4E0108; background-color:#EE8D81; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top: 10px; clear:both; }
.contrib-list .denial a.mentor { clear:both; float:right; }

#contrib-approved h2, h2#contrib-approved{ color:#5F9941; }
#contrib-denied   h2, h2#contrib-denied{ color:#99432E; }
#contrib-pending  h2, h2#contrib-pending{ color:#999126;}

/* Contrib New  */
.contrib_new_warning h2 { display: inline; margin:0px; font-size: 150%;  }
.contrib_new_warning p { display:inline; font-size: 90%;}

/* Contrib Show  */
.show-contrib {}
.show-contrib .desc { margin: 15px 0; }
.show-contrib .date { color:#BABABA; font-style: italic;  }
.show-contrib .status_box { padding: 10px; line-height: 1.5em; text-align: right; }
.show-contrib p.status_0 { font-weight: bold; font-size: 115%; color:#99432E; }
.show-contrib p.status_1 { font-weight: bold; font-size: 115%; color:#5F9941; }
.show-contrib p.status_2 { font-weight: bold; font-size: 115%; color:#999126; }
.show-contrib .mentor { font-style: italic; color:#BABABA; }
.show-contrib .reason { font-style: italic; font-size:105%;  }

.delete button{ margin: 20px 0; }


/* Boxes */
.box_default { -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; }
.box_straight_tl { }

/* Admin Contrib List*/
.admin_contrib_show_0 { font-weight: bold; font-size: 115%; color:#99432E; }
.admin_contrib_show_1 { font-weight: bold; font-size: 115%; color:#5F9941; }
.admin_contrib_show_2 { font-weight: bold; font-size: 115%; color:#999126; }
.admin_contrib_links { text-align: right;}
.admin_contrib_list { }
.admin_contrib_list img{ float:left; margin: 0 10px 0 0; }
.admin_contrib_list li { margin: 10px 0; -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; padding: 10px; min-height: 48px; }
.admin_contrib_list li .user_info { font-size: 80%; padding-bottom: 5px; }
.admin_contrib_list li .title { font-size:110%; font-weight: bold; }
.admin_contrib_list li .title a { font-size:80%; font-weight: normal; }
.admin_contrib_list li .desc { padding: 5px; }
.admin_contrib_list li .reference {  }
.admin_contrib_list li .notes { font-size:80%; color:#A4A4A4; padding: 3px; float:right; clear:right; text-align:right; }
.admin_contrib_list li .notes span { font-size: 180%; color: #929292; padding: 0 5px; font-weight: bold; }
.admin_contrib_list li .cmds { float:right; font-size: 90%; font-weight: bold; }
.admin_contrib_info { width: 50%; margin: 5px 0 10px 180px; -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; padding: 10px; line-height:1.5em; }
.admin_contrib_info .p { margin: 5px; }
.admin_contrib_info img { float:right; }

/* User page */
.about_user { -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; margin: 10px 0; background-color:#EED168; padding: 10px; }
.about_user .row { margin-bottom:0px; }
.about_user .user_info {  }
.about_user .user_info .location { font-size: 90%; margin-top:-15px; }
.about_user .user_info .desc {  }
.about_user .user_info img { float:left; margin: 0 10px 0 0; }
.about_user .user_stats { text-align: right; }
.about_user .user_stats ul { list-style-type: none; }
.about_user .user_stats ul li { color: #000; }

.user_contrib_list { list-style-type: none; margin:0px; }
.user_contrib_list img{ float:left; margin: 0 10px 0 0; }
.user_contrib_list li { margin: 10px 0; -webkit-border-radius: 10px 0px 10px 10px; -moz-border-radius: 10px 0px 10px 10px; border-radius: 10px 0px 10px 10px; border:1px solid #858585; background-color:#FFFFFF; -webkit-box-shadow: #B3B3B3 2px 2px 2px; -moz-box-shadow: #B3B3B3 2px 2px 2px; box-shadow: #B3B3B3 2px 2px 2px; padding: 10px; min-height: 48px; }
.user_contrib_list li .status_1 { color:#5F9941;  }
.user_contrib_list li .status_2 { color:#999126; }
.user_contrib_list li .user_info { font-size: 80%; padding-bottom: 5px; }
.user_contrib_list li .title { font-size:110%; font-weight: bold; margin-top: -10px; }
.user_contrib_list li .title a { font-size:80%; font-weight: normal; }
.user_contrib_list li .desc { padding: 5px; }
.user_contrib_list li .reference {  }
.user_contrib_list li .notes { font-size:80%; color:#A4A4A4; padding: 3px; float:right; clear:right; text-align:right; }
.user_contrib_list li .notes span { font-size: 180%; color: #929292; padding: 0 5px; font-weight: bold; }
.user_contrib_list li .cmds { float:right; font-size: 90%; font-weight: bold; }

.actions form { display:inline;  }