
{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}

	<h1 id="estatísticas">Estatísticas</h1>
<div class="row">
	{% for chart in charts %}
		<div class="span8">
			{{ chart.render|raw }}
		</div>
	{% endfor %}
</div>

{% endblock %}