{% extends 'SouphpspBundle::souphpsp.html.twig' %}

{% block souphpsp_content %}

<div class="s8 gutter">
	<div class="s8 regular_p">
		<h1 id=""sou_phpsp_e_contribuo!"">"Sou PHPSP e contribuo!"</h1>
		<p>O PHPSP quer que você seja um contribuidor de projetos Open Source, queremos que você ajude projetos e ao mesmo tempo expanda sua rede de contatos e faça o seu nome crescer no mercado. Para fazer isso o PHPSP vai sortear <strong>diversos prêmios</strong> para que você dê o primeiro passo!</p>
		
		<p><a href="/souphpsp/about">Saiba mais e veja o regulamento aqui</a></p>
	</div>
	<div class="s4 gutter">
		<h2>Estatísticas</h2>
		<p>bla bla bla</p>
	</div>
	<div class="s4">
		<h2>Ranking</h2>
		<ol>
			<li>rdohms</li>
			<li>augustohp</li>
			<li>duodraco</li>
		</ol>
	</div>
	<div class="s8">
		<h1 id="patrocinadores">Patrocinadores</h1>
		
	</div>
</div>
<div class="s4">
	<h2>Prêmios</h2>
</div>

{% endblock %}